* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-family: 'Lora', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    color: #fff;
}

.navbar {
    background: black;
}

.navbar-brand {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    
}

.LogoTexto {
    font-size: calc(30px + 1.5vw);
    color: #fff;
}

.Loto {
    height: calc(30px + 1.5vw);
    width: auto;
}

.btn-link {
    font-size: calc(12px + 0.7vw); 
    color: #fff;
    text-decoration: none;
}

.underline-animation {
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease; /* Cambios suaves de color */
}

.underline-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px; 
    left: 50%; 
    background-color: #ffffff; /* Color inicial del subrayado */
    transform: translateX(-50%);
    transition: width 0.3s ease; /* Suavidad de la animación del subrayado */
}

.underline-animation:hover {
    color: #ffffff; /* Blanco al pasar el mouse */
}

.underline-animation:hover::after {
    width: 100%; /* Subrayado visible al pasar el mouse */
}

.underline-animation:active {
    color: #ffffff; /* Texto blanco mientras se presiona */
}

.underline-animation:active::after {
    background-color: #ffffff; /* Subrayado blanco mientras se presiona */
    width: 100%; /* Asegura que se vea completo */
}

button {
    font-size: calc(8px + 0.7vw);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #000;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

button:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.99);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    padding-right: 1%;
}

#Subtitulo {
    margin: 0;
}
.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-container hr {
    flex: 1; /* Hace que las líneas se expandan proporcionalmente */
    margin: 0 25px; /* Espacio entre las líneas y el texto */
    border: 0; /* Elimina el estilo de borde predeterminado */
    border-top: 2px solid #000; /* Línea negra gruesa */
    background-color: #000; /* Asegura que el color sea negro */
    height: 0; /* Asegura que no tenga altura extra */
}

.line-container p {
    margin: 0; /* Evita márgenes adicionales en el texto */
    font-size: 1.5rem; /* Ajusta el tamaño de texto según lo desees */
    white-space: nowrap; /* Evita que el texto se parta en varias líneas */
}



.grid {
    display: grid;
    /* Ajustamos la fórmula para incluir el gap en el cálculo */
    grid-template-columns: repeat(12, calc((100% - 11 * 10px) / 12));
    gap: 10px;
    margin-bottom: 20px;
}

/* Clases para columnas ajustadas considerando el gap */
.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

/* Clases para filas */
.row-1 {
    grid-row: span 1;
}

.row-2 {
    grid-row: span 2;
}

.row-3 {
    grid-row: span 3;
}

.row-4 {
    grid-row: span 4;
}

/* Estilo para los bloques */
.block {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    box-sizing: border-box;
    border: 1px solid #000;
    width: 100%;
    color: black;
}

.title {
    /* Usa clamp para establecer límites mínimos y máximos */
    font-size: clamp(1.5rem, 4vw, 3rem);
    line-height: 1.2;
    margin: 0;
    color: black;
    font-weight: bold;
}

.subtitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.4;
    margin: 0;
    color: black;
    margin-top: 0.5em;
}