
.hercules-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
    border: #000;
}

.hercules-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.hercules-card:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.image-container {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    /* Relación de aspecto 16:9 */
    position: relative;
}

.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Imagen completa */
    object-position: top;
}

.text-container {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    font-size: 0.85em;
    /* Texto más pequeño */
    border: #fff;
}

.card-title {
    font-size: calc(10px + 0.6vw);
    /* Texto más pequeño, adaptado a la pantalla */
    margin: 0;
}

.texto {
    font-size: calc(8px + 0.4vw);
    /* Texto "Salud Física" más pequeño */
}

/* Responsivo */
@media (max-width: 576px) {
    .image-container {
        padding-top: 75%;
        /* Relación de aspecto más alta para pantallas pequeñas */
    }

    .card-title {
        font-size: calc(12px + 1vw);
    }

    .texto {
        font-size: calc(10px + 0.8vw);
    }
}
