<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCASO</title>
    <link rel="icon" href="{{ url_for('static', filename='Logo.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lora:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/Index.css">
    <link rel="stylesheet" href="static/css/General.css">

</head>

<body>
    <nav class="navbar navbar-dark mb-4">
        <div class="container d-flex justify-content-between align-items-center">
            <img src="static/images/Logo.png" alt="Logo" width="40" height="40" class="Loto">
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-link underline-animation" role="button">Filosofía</a>
                <a class="navbar-brand mx-auto d-flex align-items-center LogoTexto underline-animation"
                    href="{{ url_for('index') }}">
                    OCASO
                </a>
                <a href="{{ url_for('Bitacora') }}" class="btn btn-link underline-animation" role="button">Bitacora</a>
            </div>
            <img src="static/images/Logo.png" alt="Logo" width="40" height="40" class="Loto">
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <!-- Trabajo 1: El León de Nemea -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <a href="{{ url_for('Leon') }}" class="card hercules-card text-decoration-none">
                    <div class="image-container">
                        <img src="static/images/Leon de Nemea.jpeg" alt="El León de Nemea" class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>El León de Nemea</b><br>
                            <span class="texto">Salud Física</span>
                        </h5>
                    </div>
                </a>
            </div>

            <!-- Trabajo 2: La Hidra de Lerna -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <a href="{{ url_for('Hidra') }}" class="card hercules-card text-decoration-none">
                    <div class="image-container">
                        <img src="static/images/Hidra de Lerna.jpeg" alt="La Hidra de Lerna" class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>La Hidra de Lerna</b><br>
                            <span class="texto">Gestión Emocional</span>
                        </h5>
                    </div>
                </a>
            </div>

            <!-- Trabajo 3: El Ciervo de Cerinia -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <a href="{{ url_for('Ciervo') }}" class="card hercules-card text-decoration-none">
                    <div class="image-container">
                        <img src="static/images/Cierva de Cerinea.jpeg" alt="El Ciervo de Cerinia" class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>El Ciervo de Cerinea</b><br>
                            <span class="texto">Aprendizaje y Conocimiento</span>
                        </h5>
                    </div>
                </a>
            </div>

            <!-- Trabajo 4: El Jabalí de Erimanto -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <a href="{{ url_for('Jabali') }}" class="card hercules-card text-decoration-none">
                    <div class="image-container">
                        <img src="static/images/Jabali de Erimanto.jpeg" alt="El Jabalí de Erimanto"
                            class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>El Jabalí de Erimanto</b><br>
                            <span class="texto">Desarrollo Profesional</span>
                        </h5>
                    </div>
                </a>
            </div>

            <!-- Trabajo 5: La Limpieza de los Establos de Augías -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="card hercules-card" onclick="window.location.href='#'">
                    <div class="image-container">
                        <img src="static/images/Establos de Augias.png" alt="La Limpieza de los Establos de Augías"
                            class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>Los Establos de Augías</b><br>
                            <span class="texto">Relaciones Familiares</span>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Trabajo 6: Las Aves del Estínfalo -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="card hercules-card" onclick="window.location.href='#'">
                    <div class="image-container">
                        <img src="static/images/Aves de Estinfalo.png" alt="Las Aves del Estínfalo"
                            class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>Las Aves del Estínfalo</b><br>
                            <span class="texto">Interacciones Sociales</span>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Trabajo 7: El Toro de Creta -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="card hercules-card" onclick="window.location.href='#'">
                    <div class="image-container">
                        <img src="static/images/Toro de Creta.png" alt="El Toro de Creta" class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>El Toro de Creta</b><br>
                            <span class="texto">Relaciones de Pareja</span>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Trabajo 8: Las Yeguas de Diomedes -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="card hercules-card" onclick="window.location.href='#'">
                    <div class="image-container">
                        <img src="static/images/Yeguas de Diomedes.jpeg" alt="Las Yeguas de Diomedes"
                            class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>Las Yeguas de Diomedes</b><br>
                            <span class="texto">Bienestar Sexual</span>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Trabajo 9: El Cinturón de Hipólita -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="card hercules-card" onclick="window.location.href='#'">
                    <div class="image-container">
                        <img src="static/images/Cinturon de Hipolita.png" alt="El Cinturón de Hipólita"
                            class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>El Cinturón de Hipólita</b><br>
                            <span class="texto">Vínculos Relacionales</span>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Trabajo 10: El Ganado de Gerión -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="card hercules-card" onclick="window.location.href='#'">
                    <div class="image-container">
                        <img src="static/images/Ganado de Gerion.jpeg" alt="El Ganado de Gerión" class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>El Ganado de Gerión</b><br>
                            <span class="texto">Finanzas Personales</span>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Trabajo 11: Las Manzanas de las Hespérides -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="card hercules-card" onclick="window.location.href='#'">
                    <div class="image-container">
                        <img src="static/images/Jardin de las Hesperides.jpeg" alt="Las Manzanas de las Hespérides"
                            class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>El Jardín de las Hespérides</b><br>
                            <span class="texto">Propósito y Trascendencia</span>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Trabajo 12: Cerbero del Inframundo -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="card hercules-card" onclick="window.location.href='#'">
                    <div class="image-container">
                        <img src="static/images/Perro de Hades.jpeg" alt="Cerbero del Inframundo" class="card-img-top">
                    </div>
                    <div class="text-container">
                        <h5 class="card-title">
                            <b>Cerbero del Inframundo</b><br>
                            <span class="texto">Conexión Espiritual</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/script.js"></script>
</body>

</html>