<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCASO</title>
    <link rel="icon" href="{{ url_for('static', filename='Logo.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lora:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/General.css">
    <link rel="stylesheet" href="static/css/LeonEstilo.css">
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark mb-4">
        <div class="container d-flex justify-content-between align-items-center">
            <img src="static/images/Logo.png" alt="Logo" width="40" height="40" class="Loto">
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-link underline-animation" role="button">Filosofía</a>
                <a class="navbar-brand mx-auto d-flex align-items-center LogoTexto underline-animation"
                    href="{{ url_for('index') }}">
                    OCASO
                </a>
                <a href="#" class="btn btn-link underline-animation" role="button">Bitacora</a>
            </div>
            <img src="static/images/Logo.png" alt="Logo" width="40" height="40" class="Loto">
        </div>
    </nav>


    <!-- Usando Grid -->
    <div class="grid">
        <div class="block col-2">
            <img src="static/images/Leon de Nemea.jpeg" alt="El León de Nemea"
                class="img-fluid rounded border border-dark border-3">
        </div>
        <div class="block col-8">
            <p class="fs-1 m-0 text-black text-md-start">El León de Nemea</p>
            <p class="fs-5 m-0 text-black text-md-start">Salud Física</p>
        </div>
        <div class="block col-2 row-1 d-flex flex-column justify-content-start  gap-2">
            <button type="button">Calorías</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarAgua">Lt de Agua</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarPeso">Peso</button>
        </div>


        <div class="block col-6">
            <canvas id="aguaChart" width="400" height="200"></canvas>
        </div>
        <div class="block col-6">
            <canvas id="pesoChart" width="400" height="200"></canvas>
        </div>
    </div>

    <div class="modal fade" id="modalAgregarAgua" tabindex="-1" aria-labelledby="modalAgregarAguaLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarAguaLabel">Agregar Registro de Agua</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/AgregarAgua" method="POST">
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha:</label>
                            <input type="date" class="form-control" id="fecha" name="fecha" required>
                        </div>
                        <div class="mb-3">
                            <label for="cantidad" class="form-label">Cantidad (ml):</label>
                            <input type="number" class="form-control" id="cantidad" name="cantidad" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar Registro</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAgregarPeso" tabindex="-1" aria-labelledby="modalAgregarPesoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarPesoLabel">Agregar Registro de Peso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/AgregarPeso" method="POST">
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha:</label>
                        <input type="date" class="form-control" id="fecha" name="fecha" required>
                    </div>
                    <div class="mb-3">
                        <label for="cantidad" class="form-label">Cantidad (kg):</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar Registro</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@1.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/scriptLeon.js"></script>
</body>

</html>